/* место для вашего кода */
.header-menu {
    display: flex;
    padding-top: 70px;
    padding-left: 24px;
    font-size: 18px;
    padding-bottom: 73px;
}

.header-links-list-item {
    list-style-type: circle;
    display: flex;
    align-items: center;
    height: 100%;
}

.header-links-list-item_no-bullit {
    list-style-type: none;
    margin-left: 28px;
}

.header-link {
    margin-left: 32px;
}

.header-link_active {
    text-decoration: none;

}

.header-logo-image {
    width: 182px;
    height: 148px;
    padding-left: 38px;
    margin-right: 184px;
}

.address {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    font-style: normal;
}

.cover {
    display: grid;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;

}

.overlay {
    background-color: rgb(0 0 0/0.6);
    width: 100%;
    height: 100%;
    position: absolute;
}

.cover-title {
    color: white;
    padding-left: 50px;
    padding-top: 165px;
    padding-bottom: 237px;
    padding-right: 50px;
    font-size: 100px;
    z-index: 1;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
    text-align: start;
    letter-spacing: 0.3em;
}

.aligned-text_center {
    display: block;
    text-align: center;
    letter-spacing: 0.3em;
}

.aligned-right {
    display: block;
    text-align: end;
    letter-spacing: 0.3em;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0em;
}

.cover-description {
    position: absolute;
    display: flex;
    padding-left: 78px;
    padding-top: 655px;
    padding-bottom: 51px;
    padding-right: 50px;
    font-size: 22px;
    width: 100%;
    text-transform: uppercase;
}

.cover-description-text {
    color: white;
    align-items: center;
    word-spacing: 0.8em;
    padding-right: 79px;
    display: flex;
}

.bet-button {
    background-color: transparent;
    color: white;
    font-size: 22px;
    border: 1px solid currentColor;
    padding-left: 31px;
    padding-top: 12px;
    padding-bottom: 11px;
    padding-right: 32px;
    text-transform: uppercase;
}

.lots {
    padding-left: 24px;
    padding-top: 179px;
    padding-right: 24px;
    width: 1100px;

}

.lots-heading {
    font-size: 40px;
    padding-left: 40px;
    padding-bottom: 27px;
    text-transform: uppercase;

}

.lots-card-list-item {
    width: 334px;
    height: 563px;

}

.lots-card-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.card-link {
    text-decoration: none;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    background-size: cover;
    background-position: center;


}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card_title {
    font-weight: 700;
    font-size: 22px;
    padding-left: 40px;
    padding-top: 51px;
    padding-right: 40px;
    color: white;
    text-transform: uppercase;
    z-index: 1;
    text-decoration: underline;
}

.card-text {
    display: flex;
    font-size: 20px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    padding-bottom: 48px;
    z-index: 1;

}




.lots__look-more-link {
    display: flex;
    list-style-type: none;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 2px;
    font-size: 20px;
}

.about {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 146px;

    display: flex;
    flex-direction: row;
    min-height: 595px;
}

.about-column {
    flex-direction: row;
    display: flex;
    width: 1100px;
}

.about-column-logo {
    width: 563px;

}

.about-logo {
    display: flex;
    height: 240px;
    width: 240px;
    background-color: black;
    border-radius: 50%;
    margin-left: 47px;
    margin-top: 35px;

}

.about-image-logo {
    width: 148px;
    height: 114px;
    margin: auto;

}


.about-content {
    padding-bottom: 13px;
    padding-top: 136px;
    width: 100%;

}

.about-title {
    padding-bottom: 100px;
    text-transform: uppercase;
    font-size: 40px;

}

.about-text {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.01em;

}

.about-text-next {
    font-size: 20px;
    padding-top: 24px;
    font-weight: 400;
}

.about-text-next-span {
    letter-spacing: 0.04em;
}

.footer {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 163px;
    width: 1100px;
    padding-bottom: 88px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
}

.footer_link {
    contain: inline-size;
}

.footer-links-active {
    contain: inline-size;
    text-decoration: none;
}

.footer-links-list-item {
    list-style-type: none;
    text-align: center;
}


.footer-social-list {
    display: flex;
}

.footer-social-list-item {
    list-style-type: none;
    display: flex;
    gap: 48px;
}

.footer-social-icon {
    width: 48px;
    height: 48px;
}